{% load static %}

{% for a in REPLYANSWERList %}
<li>
    <div class="aakriticm-postbox-details-comment-box d-sm-flex align-items-start">
      {% if a.user.img %} 
      <div class="aakriticm-postbox-details-comment-thumb">
          <img src="{{a.user.img.url}}" alt="">
       </div>
       {% endif %}
       <div class="aakriticm-postbox-details-comment-content">
          <div class="aakriticm-postbox-details-comment-top d-flex justify-content-between align-items-start">
             <div class="aakriticm-postbox-details-comment-avater">
                <h4 class="aakriticm-postbox-details-comment-avater-title">{{a.user.fname}}</h4>
                <span class="aakriticm-postbox-details-avater-meta">{{a.date}}</span>
             </div>
             <div class="aakriticm-postbox-details-comment-reply">
              
               {% if request.user.is_accountant  %}
                  <a href="javascript:void(0);"  class="deleteQA" targetFOR="a" qaVAL="{{a.pk}}" data-bs-toggle="modal" data-bs-target="#DELETEQA"> Delete </a>
               {% endif %}
             </div>
          </div>
          <p>{{a.message | safe }}</p>
       </div>
    </div>
 </li>

 {% endfor %}