{% load static %}
<!doctype html>
<html lang="eng">
   <head>
      <meta charset="utf-8">
      <meta htaakriticm-equiv="x-ua-compatible" content="ie=edge">
      <title>My Cart List | {{project.title | safe | title }} || AakritiMART</title>
      <link rel="icon" type="image/png" href="{% if project.favicon %}{{project.favicon.url}}{% else %}{% static 'adminAAKRITICMS/img/default/mrdas.jpg' %}{% endif %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="{{project.meta_keywords | safe }}">
      <meta name="description" content="{{project.meta_description | safe }}">
      <meta property="og:locale" content="en_US">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ project.meta_title | safe }}">
      <meta property="og:description" content="{{project.meta_description | safe }}">
      <meta property="og:url" content="{{project.baseURL}}">
      <meta property="og:site_name" content="{{project.name}}">
      <link rel="canonical" href="{{project.baseURL}}">
      <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'aakritimart/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/animate.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/swiper-bundle.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/font-awesome-pro.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/flaticon_shofy.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/spacing.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.css' %}">
      {% include "template/includes/COMMONHEADERTags.html" %}
   </head>
<body>
   {% include "template/includes/MAINHeader.html" %}
   {% if not request.user.is_user %}
      {% include "template/includes/LOGINSIGNUP.html" %}
   {% endif %}
   <main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb__area include-bg pt-50 pb-50">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                   <h3 class="breadcrumb__title">Shopping Cart</h3>
                   <div class="breadcrumb__list">
                      <span><a href="{{project.baseURL}}">Home</a></span>
                      <span>Shopping Cart</span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- cart area start -->
    <section class="aakriticm-cart-area pb-50">
       <div class="container">
          <div class="row">

            {% if not allCART %}
            <div class="col-xxl-12">
               <div class="breadcrumb__content p-relative z-index-1">
                  <h3 class="breadcrumb__title">Your Cart Is Empty <a href="" class="" style="color: #0989FF;"><u>Continue to Shopping</u></a></h3>
               </div>
            </div>
            {% elif allCART %}
             <div class="col-xl-9 col-lg-8">
                <div class="aakriticm-cart-list mb-25 mr-30">
                   <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2" class="aakriticm-cart-header-product">Product</th>
                          <th class="aakriticm-cart-header-price">Price</th>
                          <th class="aakriticm-cart-header-quantity">Quantity</th>
                          <th class="aakriticm-cart-header-quantity">Single Buy</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for cart in allCART %}
                         <tr>
                            <!-- img -->
                            <td class="aakriticm-cart-img"><a href="{% url 'OPENProduct' cart.product.slug %}"> <img src="{% if cart.product.img %}{{cart.product.img.url}}{% else %}assets/img/product/cart/product-cart-1.jpg{% endif %}" alt=""></a></td>
                            <!-- title -->
                            <td class="aakriticm-cart-title"><a href="{% url 'OPENProduct' cart.product.slug %}">{{cart.product.name}}</a></td>
                            <!-- price -->
                            <td class="aakriticm-cart-price"><strike><span getMRPPRICE="{{cart.product.mrp}}">${{cart.product.mrp}}</span></strike> <br> <span>$ <span class="selling_price" getSPPRICE="{{cart.product.sp}}">{{cart.product.sp}}</span></span></td>
                            <!-- quantity -->
                            <td class="aakriticm-cart-quantity">
                               <div class="aakriticm-product-quantity mt-10 mb-10">
                                  <span class="aakriticm-cart-minus">
                                     <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                     </svg>                                                             
                                  </span>
                                  <input class="getQTY aakriticm-cart-input" getProduct="{{cart.product.pk}}" type="text" value="{{cart.qty}}">
                                  <span class="aakriticm-cart-plus">
                                     <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 1V9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1 5H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                     </svg>
                                  </span>
                               </div>
                            </td>
                            <td class="">
                              <div class="aakriticm-compare-add-to-cart">

                                 

                                 <form action="{% url 'CheckOut' %}" method="get">
                                    {% csrf_token %}
                                    <input style="display: none;" type="text" name="product" value="{{cart.product.slug}}">
                                    <input style="display: none;" type="text" name="color" class="{{cart.product.color.name}}">
                                    <input style="display: none;" type="text" name="checkoutFor" value="singleProduct">
                                    <input style="display: none;" class="addQTY aakriticm-cart-input" type="text" value="{{cart.qty}}" name="qty">
                                    <button class="aakriticm-product-details-buy-now-btn w-100">Buy Now</button>
                                 </form>
                              </div>
                           </td>
                            <!-- action -->
                            <td class="aakriticm-cart-action">
                               <button class="aakriticm-cart-action-btn" getOBJ="{{cart.pk}}">
                                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z" fill="currentColor"></path>
                                  </svg>
                                  <span>Remove</span>
                               </button>
                            </td>
                         </tr>
                         {% endfor %}

                        
                      </tbody>
                    </table>
                </div>
             
             </div>
             <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="aakriticm-cart-checkout-wrapper">
                   <div class="aakriticm-cart-checkout-top d-flex align-items-center justify-content-between">
                      <span class="aakriticm-cart-checkout-top-title">Subtotal</span>
                      <span class="aakriticm-cart-checkout-top-price">$0</span>
                   </div>
                   <div class="aakriticm-cart-checkout-proceed">
                      <a href="{% url 'CheckOut' %}?checkoutFor=myCartList" class="aakriticm-cart-checkout-btn w-100">Proceed to Checkout</a>
                   </div>
                </div>
             </div>
             {% endif %}
          </div>
       </div>
    </section>
    <!-- cart area end -->
 </main>

   {% include "template/includes/MAINFooter.html" %}
   <!-- JS here -->
   <script src="{% static 'aakritimart/js/vendor/jquery.js' %}"></script>
   <script src="{% static 'aakritimart/js/vendor/waypoints.js' %}"></script>
   <script src="{% static 'aakritimart/js/bootstrap-bundle.js' %}"></script>
   <script src="{% static 'aakritimart/js/meanmenu.js' %}"></script>
   <script src="{% static 'aakritimart/js/swiper-bundle.js' %}"></script>
   <script src="{% static 'aakritimart/js/slick.js' %}"></script>
   <script src="{% static 'aakritimart/js/range-slider.js' %}"></script>
   <script src="{% static 'aakritimart/js/magnific-popup.js' %}"></script>
   <script src="{% static 'aakritimart/js/nice-select.js' %}"></script>
   <script src="{% static 'aakritimart/js/purecounter.js' %}"></script>
   <script src="{% static 'aakritimart/js/countdown.js' %}"></script>
   <script src="{% static 'aakritimart/js/wow.js' %}"></script>
   <script src="{% static 'aakritimart/js/isotope-pkgd.js' %}"></script>
   <script src="{% static 'aakritimart/js/imagesloaded-pkgd.js' %}"></script>
   <script src="{% static 'aakritimart/js/ajax-form.js' %}"></script>
   <script src="{% static 'aakritimart/js/main.js' %}"></script>
   {% include "template/includes/JSCOMMON.html" %}

   <script>
      function ProductSummary(){
         var selling_price = [];
         var mrp = [];
         $('.selling_price').each(function(i){
            selling_price[i] = parseInt($(this).attr('getSPPRICE'))
            mrp[i] = parseInt($(this).attr('getMRPPRICE'))
         })

         let sum = 0;
         for (let i = 0; i < selling_price.length; i++ ) {
            sum += selling_price[i];
         }

         $('.aakriticm-cart-checkout-top-price').html("$ "+sum);
      }
      ProductSummary()
   </script>
   <script>
      $(".getQTY").on("change",function() {
         var qty = $(this).val()
         $('.addQTY').val(qty)   
         const targetVAL = $(this).attr('getProduct'); 
         $.ajax({                      
             type: "POST",                   
             url: "{% url 'updateCART' %}",                    
             data: {
               csrfmiddlewaretoken: "{{ csrf_token }}",
               'targetVAL': targetVAL,  
               'qty':qty,
              },
             success: function (data) {  
              if (data.status == 1){
                  ProductSummary();
                  toastr.success(data.message)
                  //setTimeout(function () {
                  //    window.location.href =data.AFTERLogin;
                  //}, 2000); 
              }else if (data.status == 0){
                  toastr.info(data.message)
              } 
            },
            error:function(data){
               toastr.info("Server Issue")
            }
         });
       });
   </script>
  


   <script>
      $(".aakriticm-cart-action-btn").click(function() {
         const getOBJ = $(this).attr('getOBJ'); 
         $.ajax({                      
             type: "POST",                   
             url: "{% url 'deleteCart' %}",                    
             data: {
               csrfmiddlewaretoken: "{{ csrf_token }}",
               'getOBJ': getOBJ,  
              },
             success: function (data) {  
              if (data.status == 1){
                  toastr.success(data.message)
                  setTimeout(function () {
                      window.location.href =data.AFTERTask;
                  }, 2000); 
              }else if (data.status == 0){
                  toastr.info(data.message)
              } 
            },
            error:function(data){
               toastr.info("Server Issue")
            }
         });
       });
   </script>
   <script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script>
   {% include "template/includes/USERToster.html" %}
</body>
</html>
