{% load static %}
{% load PRODUCTCOUNT %}
{% load PAGETAG %}
{% load AakritiMARTTAGS %}

<!doctype html>
<html lang="eng">
   <head>
    <meta charset="utf-8">
    <meta htaakriticm-equiv="x-ua-compatible" content="ie=edge">
    <title>Products | {{project.title | safe | title }} || AakritiMART</title>
    <link rel="icon" type="image/png" href="{% if project.favicon %}{{project.favicon.url}}{% else %}{% static 'adminAAKRITICMS/img/default/mrdas.jpg' %}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{project.meta_keywords | safe }}">
    <meta name="description" content="{{project.meta_description | safe }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ project.meta_title | safe }}">
    <meta property="og:description" content="{{project.meta_description | safe }}">
    <meta property="og:url" content="{{project.baseURL}}">
    <meta property="og:site_name" content="{{project.name}}">
    <link rel="canonical" href="{{project.baseURL}}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'aakritimart/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/flaticon_shofy.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'aakritimart/css/main.css' %}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.css' %}">
    {% include "template/includes/COMMONHEADERTags.html" %}
    <style>
        .aakriticm-product-list-content{
            border-top-style: solid ;
            border-top-color: darkgray ;
            border-top-width: 5px ;

        }
        img.productIMG{
            width: 140px; 
            height: 140px;
        }

        
        @media only screen and (max-width: 600px) {
            img.productIMG{
                width: 80px; 
                height: 80px;
            }
            .aakriticm-product-title-2{
                font-size: 18px;
            }
           .aakriticm-product-details-add-to-cart-btn{
            text-align: center;
            font-size: small;
            margin-top: 5px;
            color: white;
            }

        }

    </style>
   </head>
<body>
{% include "template/includes/MAINHeader.html" %}
{% include "template/includes/HTMLMAINCOMMON.html" %}
    {% if not request.user.is_user %}
        {% include "template/includes/LOGINSIGNUP.html" %}
    {% endif %}


         <!-- search area start -->
         <section class="aakriticm-search-area">
            <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="aakriticm-search-form">
                        <div class="aakriticm-search-close text-center mb-20">
                           <button class="aakriticm-search-close-btn aakriticm-search-close-btn"></button>
                        </div>
                        <form action="{% url 'allProducts' %}">
                           <div class="aakriticm-search-input mb-10">
                              <input type="text" placeholder="Search for product..." name="q" value="{{request.GET.q}}">
                              <button type="submit"><i class="flaticon-search-1"></i></button>
                           </div>
                           <div class="aakriticm-search-category">
                              <span>Search by : </span>
                              {% for mainCat in mainCatList %}
                               <a href="{% url 'mainCatProductList' mainCat.slug  %}">{{mainCat.name}}, </a>
                               {% endfor %}
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- search area end -->
         
    <!-- filter offcanvas area start -->
    <div class="aakriticm-filter-offcanvas-area">
        <div class="aakriticm-filter-offcanvas-wrapper">
            <div class="aakriticm-filter-offcanvas-close">
                <button type="button" class="aakriticm-filter-offcanvas-close-btn filter-close-btn">
                    <i class="fa-solid fa-xmark"></i>
                    Close
                </button>
            </div>
            <div class="aakriticm-shop-sidebar">
                <!-- categories -->
                <div class="aakriticm-shop-widget mb-50">
                    <h3 class="aakriticm-shop-widget-title">Categories</h3>
                    <div class="aakriticm-shop-widget-content">
                        <div class="aakriticm-shop-widget-categories">
                        <ul>
                            {% for mainCat in mainCatList %}
                            <li><a href="{% url 'mainCatProductList' mainCat.slug  %}">{{mainCat.name}} <span>{% mainCATPRODUCT mainCat.pk %}</span></a></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- filter offcanvas area end -->
    <main>
        <!-- shop area start -->
        <section class="aakriticm-shop-area pt-20 pb-50">
            <div class="container">
                <div class="row">
                        <div class="aakriticm-shop-main-wrapper">
                            <div class="aakriticm-shop-top mb-45 d-none d-md-none d-lg-none d-sm-block">
                                <div class="row">
                                    <div class="col-lg-6 d-none d-md-none d-lg-block d-sm-none d-md-block">
                                        <div class="aakriticm-shop-top-left d-flex align-items-center ">
                                            <div class="aakriticm-shop-top-result">
                                                <p>Showing 1–14 of {{ProductList.count}} results</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="aakriticm-shop-top-right d-lg-flex justify-content-xl-end ">
                                            <div class="aakriticm-shop-top-filter ">
                                                <button type="button" class="aakriticm-filter-btn filter-open-btn">
                                                    <span>
                                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.9998 3.45001H10.7998" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M3.8 3.45001H1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.5999 5.9C7.953 5.9 9.0499 4.8031 9.0499 3.45C9.0499 2.0969 7.953 1 6.5999 1C5.2468 1 4.1499 2.0969 4.1499 3.45C4.1499 4.8031 5.2468 5.9 6.5999 5.9Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15.0002 11.15H12.2002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M5.2 11.15H1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M9.4002 13.6C10.7533 13.6 11.8502 12.5031 11.8502 11.15C11.8502 9.79691 10.7533 8.70001 9.4002 8.70001C8.0471 8.70001 6.9502 9.79691 6.9502 11.15C6.9502 12.5031 8.0471 13.6 9.4002 13.6Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </span>
                                                    Filter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aakriticm-shop-items-wrapper aakriticm-shop-item-primary">
                                <div class="tab-content" id="productTabContent">
                                    <div class="tab-pane fade show active" id="list-tab-pane" role="tabpanel" aria-labelledby="list-tab" tabindex="0">
                                        <div class="aakriticm-shop-list-wrapper aakriticm-shop-item-primary mb-70">
                                        <div class="row">
                                            <div class="infinite-container">
                                                {% for product in ProductList %}
                                                <div class="aakriticm-product-list-item d-md-flex infinite-item">
                                                    <!-- <div class="aakriticm-product-list-thumb p-relative fix">
                                                       
                                                    </div> -->
                                                    
                                                    <div class="aakriticm-product-list-content">
                                                        <div class="aakriticm-product-content-1 pt-25">
                                                            <div class="aakriticm-product-tag-2">
                                                                {% comment %}
                                                                <a href="{% url 'mainCatProductList' product.mainCat.slug  %}">{{product.mainCat.name}}, </a>
                                                                <a href="{% url 'subCatProductList' product.mainCat.slug product.subCat.slug %}">{{product.subCat.name}} </a>
                                                                <!-- <a href="{% url 'SubSubCatProductList' product.SubSubCat.subCat.mainCat.slug product.SubSubCat.subCat.slug product.SubSubCat.slug %}">{{product.SubSubCat.name}}</a> -->
                                                                {% endcomment %}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-7">
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <a href="javascript:void(0);">
                                                                                <img class="productIMG" style=" background-image: url('{% if product.img %}{{product.img.url}}{% endif %}'); background-size:contain;background-repeat:no-repeat; " src="{% if product.img %}{{product.img.url}}{% endif %}" alt="">
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <h3 class="aakriticm-product-title-2">
                                                                                {% if request.GET.q %}
                                                                                <a href="javascript:void(0);">{{product.name | safe | title | highlight:request.GET.q}}</a>
                                                                                {% else %}
                                                                                <a href="javascript:void(0);">{{product.name | safe | title}}</a>
                                                                                {% endif %}
                                                                            </h3>
                                                                            <div class="">
                                                                                <span><b>{{product.attributes}}</b></span>
                                                                            </div>
                                                                            {% comment %}
                                                                            <div class="aakriticm-product-rating-icon aakriticm-product-rating-icon-2">
                                                                                <span><i class="fa-solid fa-star"></i></span>
                                                                                <span><i class="fa-solid fa-star"></i></span>
                                                                                <span><i class="fa-solid fa-star"></i></span>
                                                                                <span><i class="fa-solid fa-star"></i></span>
                                                                                <span><i class="fa-solid fa-star"></i></span>
                                                                            </div>
                                                                            {% endcomment %}
                                                                            <div class="aakriticm-product-price-wrapper-2">
                                                                                <span class="aakriticm-product-price-2 new-price"><i class="fas fa-rupee-sign"></i> <span class="productSP{{product.pk}}">{{product.sp}} /</span></span>
                                                                                <span class="aakriticm-product-price-2 old-price"><span class="productMRP{{product.pk}}">{{product.mrp}}</span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                {% comment %}
                                                                <div class="col-lg-3">
                                                                    {% if product.product_type %}
                                                                    <div class="form-group">
                                                                        <label for="SelectUnit">Select Units:</label>
                                                                        <select class=" SelectUnit form-control thisUNIT{{product.pk}}" id="SelectUnit" style="width: 100% !important;" onchange="updatePRICE('{{product.pk}}', this)">
                                                                            <option value="{{product.attributes}}" mrp="{{product.mrp}}" sp="{{product.sp}}" pk="{{product.pk}}"> {{product.attributes}}
                                                                                <div class="aakriticm-product-price-wrapper-2">
                                                                                    <span class="aakriticm-product-price-2 new-price"> -- Rs.{{product.sp}} | </span>
                                                                                    <span class="aakriticm-product-price-2 old-price"><small><p><strike>{{product.mrp}}</strike></p></small></span>
                                                                                </div>
                                                                            </option>
                                                                            {% ATTRIBUTEList product.pk %}
                                                                        </select>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                {% endcomment %}
                                                                <div class="col-lg-5 ">
                                                                    <div class="aakriticm-product-list-add-to-cart">
                                                                        <!-- actions -->
                                                                        <div class="aakriticm-product-details-action-wrapper">
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    <h3 class="aakriticm-product-details-action-title">Quantity</h3>
                                                                                    <div class="aakriticm-product-details-action-item-wrapper d-sm-flex align-items-center">
                                                                                        <div class="aakriticm-product-details-quantity">
                                                                                            <div class="aakriticm-product-quantity mb-15 mr-15">
                                                                                                <span class="aakriticm-cart-minus">
                                                                                                    <svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                        <path d="M1 1H10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                                                    </svg>                                                            
                                                                                                </span>
                                                                                                <input  class="thisQTY{{product.pk}} aakriticm-cart-input" type="text" value="1"/>
                                                                                                <span class="aakriticm-cart-plus">
                                                                                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                        <path d="M1 6H10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                                                        <path d="M5.5 10.5V1.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                                                    </svg>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    <br>
                                                                                    <div class="aakriticm-product-details-add-to-cart mb-15 w-100">
                                                                                        <button class="aakriticm-product-details-add-to-cart-btn w-100 bg-primary" {% if request.user.is_user %} onclick="AddToCart('{{product.pk}}')" {% else %} data-bs-toggle="modal" data-bs-target="#signin-modal" {% endif %}>Add To Cart</button>
                                                                                    </div>                                                                                            
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% comment %}
                                            {% if ProductList.has_next %}
                                                <a class="infinite-more-link" href="?&page={{ ProductList.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}&mainCat={{request.GET.mainCat}}{% endif %}"></a>
                                            {% else %}
                                                <div class="d-flex justify-content-center" >
                                                <div class="spinner-border" role="status" style="display:none;">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                </div>
                                            {% endif %}
                                            {% endcomment %}
                                        </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    {% if ProductList.has_other_pages %}
                    <nav>
                        <ul class="pagination justify-content-center">
                        {% if ProductList.has_previous %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ ProductList.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}&mainCat={{request.GET.mainCat}}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&laquo;</span>
                            </li>
                        {% endif %}

                        {% for p in ProductList.paginator.page_range %}
                            {% if ProductList.number == p %}
                            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>

                            {% elif p > ProductList.number|add:'-5' and p < ProductList.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}{% if request.GET.q %}&q={{request.GET.q}}&mainCat={{request.GET.mainCat}}{% endif %}">{{ p }}</a></li>
                            {% endif %}

                            {% endfor %}

                        {% if ProductList.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ ProductList.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}&mainCat={{request.GET.mainCat}}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                    </nav>
                    {% endif %} 
                  
                </div>
            </div>
        </section>
        <!-- shop area end -->    
    </main>

{% include "template/includes/MAINFooter.html" %}
<!-- JS here -->
<script src="{% static 'aakritimart/js/vendor/jquery.js' %}"></script>
<script src="{% static 'aakritimart/js/vendor/waypoints.js' %}"></script>
<script src="{% static 'aakritimart/js/bootstrap-bundle.js' %}"></script>
<script src="{% static 'aakritimart/js/meanmenu.js' %}"></script>
<script src="{% static 'aakritimart/js/swiper-bundle.js' %}"></script>
<script src="{% static 'aakritimart/js/slick.js' %}"></script>
<script src="{% static 'aakritimart/js/range-slider.js' %}"></script>
<script src="{% static 'aakritimart/js/magnific-popup.js' %}"></script>
<script src="{% static 'aakritimart/js/nice-select.js' %}"></script>
<script src="{% static 'aakritimart/js/purecounter.js' %}"></script>
<script src="{% static 'aakritimart/js/countdown.js' %}"></script>
<script src="{% static 'aakritimart/js/wow.js' %}"></script>
<script src="{% static 'aakritimart/js/isotope-pkgd.js' %}"></script>
<script src="{% static 'aakritimart/js/imagesloaded-pkgd.js' %}"></script>
<script src="{% static 'aakritimart/js/ajax-form.js' %}"></script>
<script src="{% static 'aakritimart/js/main.js' %}"></script>
{% include "template/includes/JSCOMMON.html" %}
<script src="{% static 'adminAAKRITICMS/plugins/infinite-scroll/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'adminAAKRITICMS/plugins/infinite-scroll/infinite.min.js'%}"></script>
<script>
    $(".cartmini__del").click(function() {
       const getOBJ = $(this).attr('getOBJ'); 
       $.ajax({                      
           type: "POST",                   
           url: "{% url 'deleteCart' %}",                    
           data: {
             csrfmiddlewaretoken: "{{ csrf_token }}",
             'getOBJ': getOBJ,  
            },
           success: function (data) {  
            if (data.status == 1){
                toastr.success(data.message)
                setTimeout(function () {
                    window.location.href =data.AFTERTask;
                }, 2000); 
            }else if (data.status == 0){
                toastr.info(data.message)
            } 
          },
          error:function(data){
             toastr.info("Server Issue")
          }
       });
     });
 </script>

<script>

    function updatePRICE(pk, event) {
        var SelectUnit = document.querySelector("#SelectUnit");
        var mrp = event.options[event.selectedIndex].getAttribute("mrp");
        var sp = event.options[event.selectedIndex].getAttribute("sp");
        var val = $('.SelectUnit').val();
        $('span.productSP'+pk).html(sp);
        $('span.productMRP'+pk).html(mrp);
    }

    function setCookie(cname,cvalue,exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    
    function checkCookie() {
      let user = getCookie("username");
      if (user != "") {
        alert("Welcome again " + user);
      } else {
         user = prompt("Please enter your name:","");
         if (user != "" && user != null) {
           setCookie("username", user, 30);
         }
      }
    }
    </script>


<script>
    {/* var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
    },
    offset: 'bottom-in-view',
    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
     $('.spinner-border').hide();
    }   
}); */}
</script>
<!-- SweetAlert2 -->
<script src="{% static 'adminAAKRITICMS/plugins/sweetalert2/sweetalert2.min.js'%}"></script>
<!-- <script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script> -->
<!-- Toastr -->
<script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script>
{% include "template/includes/USERToster.html" %}
</body>
</html>
