{% load static %}
<div class="modal fade quick-view-product" id="ShippingAddress" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Add New Shipping Address
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="onlinemangao-dashboard-account">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name:</label>
                                <input type="text" class="fname form-control" value="" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" class="lname form-control" value="" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Email Id:</label>
                                <input type="text" class="emailId form-control" value="" placeholder="Email Id">
                            </div>
                        </div>
                        

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Contact No:</label>
                                <input type="text" class="contactNo form-control" value="" placeholder="Contact No.">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>House No</label>
                                <input type="text" class="houseno form-control" value="" placeholder="House No, Bulding No, Flat No">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Pin Code</label>
                                <input type="text" class="pincode form-control" value="" placeholder="Pin Code / Zip Code / Postal Code">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Colony / Land Mark</label>
                                <input type="text" class="landmark form-control" value="" placeholder="Landmark, Colony">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="city form-control" value="" placeholder="City / Village">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="state form-control" value="" placeholder="State or Provence">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="country form-control" value="" placeholder="Country">
                            </div>
                        </div>
                  
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col text-center">                              
                    <div class="form-group mb--0">
                        <input type="submit" onclick="createSHIPPINGAddress();" class="btn btn-outline-primary" value="Save Changes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    function createSHIPPINGAddress(){
        const fname = $('.fname').val();
        const lname = $('.lname').val();
        const emailId = $('.emailId').val();
        const contactNo = $('.contactNo').val();
        const pincode = $('.pincode').val();
        const houseno = $('.houseno').val();
        const landmark = $('.landmark').val();
        const city = $('.city').val();
        const state = $('.state').val();
        const country = $('.country').val();

            if ("{{request.user.pk}}" == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> Target Required* </b></p>'
                })
            }
            else if (fname == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> First Name Required* </b></p>'
                })
            }
            else if (lname == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> Last Name Required* </b></p>'
                })
            }
            else if (emailId == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> Email Id Required* </b></p>'
                })
            }
            else if (contactNo == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> Contact No. Required* </b></p>'
                })
            }
            else if (pincode == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> PinCode Required* </b></p>'
                })
            }else if (city == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> City Required* </b></p>'
                })
            }else if (state == ""){
                Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top:0px !important; margin-left:8px !important;"><b> State Required* </b></p>'
                })
            }
            else{
                const data = new FormData();
                data.append('target', "{{request.user.pk}}" );
                data.append('fname', fname );
                data.append('lname', lname );
                data.append('emailId', emailId );
                data.append('contactNo', contactNo );
                data.append('pincode', pincode );
                data.append('houseno', houseno );
                data.append('landmark', landmark );
                data.append('city', city );
                data.append('state', state );
                data.append('country', country );
                $.ajax({                      
                    type: "POST",                   
                    url: "{% url 'SHIPPINGAddress' %}",                    
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    headers: {'X-CSRFToken': "{{ csrf_token }}"},
                    success: function(data) { 
                        $('.fname').val('');
                        $('.lname').val('');
                        $('.emailId').val('');
                        $('.contactNo').val('');
                        $('.pincode').val('');
                        $('.houseno').val('');
                        $('.landmark').val('');
                        $('.city').val('');
                        $('.state').val('');
                        $('.country').val('');
                        if (data.status == 1){
                            Toast.fire({
                                icon: 'success',
                                title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                            })  
                            setTimeout(function () {
                                window.location.href = data.AFTERTask;
                            }, 2000); 
                            $('#ShippingAddress').modal('hide');
                        }else if (data.status == 0){
                            Toast.fire({
                            icon: 'error',
                            title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                            }) 
                        }       
                    },
                });
            }
        }
</script>
