{% load static %}
<!doctype html>
<html lang="eng">
   <head>
      <meta charset="utf-8">
      <meta htaakriticm-equiv="x-ua-compatible" content="ie=edge">
      <title>Home | {{project.title | safe | title }} || AakritiMART</title>
      <link rel="icon" type="image/png" href="{% if project.favicon %}{{project.favicon.url}}{% else %}{% static 'adminAAKRITICMS/img/default/mrdas.jpg' %}{% endif %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="{{project.meta_keywords | safe }}">
      <meta name="description" content="{{project.meta_description | safe }}">
      <meta property="og:locale" content="en_US">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ project.meta_title | safe }}">
      <meta property="og:description" content="{{project.meta_description | safe }}">
      <meta property="og:url" content="{{project.baseURL}}">
      <meta property="og:site_name" content="{{project.name}}">
      <link rel="canonical" href="{{project.baseURL}}">

      <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'aakritimart/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/animate.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/swiper-bundle.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/font-awesome-pro.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/flaticon_shofy.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/spacing.css' %}">
      <link rel="stylesheet" href="{% static 'aakritimart/css/main.css' %}">

      <!-- SweetAlert2 -->
      <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
      <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.css' %}">
      {% include "template/includes/COMMONHEADERTags.html" %}

   
   </head>
<body>

   {% include "template/includes/MAINHeader.html" %}
      <main>
        <!-- profile area start -->
        <section class="profile__area pt-20 pb-20">
         <div class="container">
            <div class="profile__inner p-relative">
               <div class="profile__shape">
                  <img class="profile__shape-1" src="{% static 'aakritimart/assets/img/login/laptop.png' %}" alt="" >
                  <img class="profile__shape-2" src="{% static 'aakritimart/assets/img/login/man.png' %}" alt="" >
                  <img class="profile__shape-3" src="{% static 'aakritimart/assets/img/login/shape-1.png' %}" alt="" >
                  <img class="profile__shape-4" src="{% static 'aakritimart/assets/img/login/shape-2.png' %}" alt="" >
                  <img class="profile__shape-5" src="{% static 'aakritimart/assets/img/login/shape-3.png' %}" alt="" >
                  <img class="profile__shape-6" src="{% static 'aakritimart/assets/img/login/shape-4.png' %}" alt="" >
               </div>
               <div class="row">
                  <div class="col-xxl-4 col-lg-4">
                     <div class="profile__tab mr-40">
                        <nav>
                           <div class="nav nav-tabs aakriticm-tab-menu flex-column" id="profile-tab" role="tablist">
                              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><span><i class="fa-regular fa-user-pen"></i></span>Profile</button>
                              <button class="nav-link" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="false"><span><i class="fa-regular fa-circle-info"></i></span> Information</button>
                              <button class="nav-link" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address" type="button" role="tab" aria-controls="nav-address" aria-selected="false"><span><i class="fa-light fa-location-dot"></i></span> Address </button>
                              <button class="nav-link active" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false"><span><i class="fa-light fa-clipboard-list-check"></i></span> My Orders </button>
                              <!-- <button class="nav-link" id="nav-notification-tab" data-bs-toggle="tab" data-bs-target="#nav-notification" type="button" role="tab" aria-controls="nav-notification" aria-selected="false"><span><i class="fa-regular fa-bell"></i></span> Notification</button> -->
                              <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab" data-bs-target="#nav-password" type="button" role="tab" aria-controls="nav-password" aria-selected="false"><span><i class="fa-regular fa-lock"></i></span> Change Password</button>
                              <span id="marker-vertical" class="aakriticm-tab-line d-none d-sm-inline-block"></span>
                           </div>
                        </nav>
                     </div>
                  </div>
                  <div class="col-xxl-8 col-lg-8">
                     <div class="profile__tab-content">
                        <div class="tab-content" id="profile-tabContent">
                           <div class="tab-pane fade show active" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                              <div class="profile__ticket table-responsive">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th scope="col">Order Id</th>
                                          <th scope="col">Product Title</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">View</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       {% for order in all_my_orders %}
                                       <tr>
                                          <th scope="row"> <a href="{% url 'ViewConfirmOrder' order.orderId %}" class="">#{{order.orderId}}</a></th>
                                          <td data-info="title"> {{order.product.name}}</td>
                                          {% if order.is_confirmed and order.is_shipped and order.is_delivered %}
                                          <td data-info="status success">Delivered </td>
                                          {% elif order.is_confirmed and order.is_shipped %}
                                          <td data-info="status pending">Shipped </td>
                                          {% elif order.is_confirmed %}
                                          <td data-info="status pending">Confirmed</td>
                                          {% endif %}                                          
                                          {% if order.is_confirmed and order.is_shipped %}
                                             <td><a href="{% url 'productINVOICEFORUser' order.orderId order.user.pk order.pk  %}" class="aakriticm-logout-btn">Invoice</a></td>
                                          {% else %}
                                          <td>...</td>
                                          {% endif %}
                                          
                                       </tr>
                                       {% endfor %}
                                       
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="profile__main">
                                 <div class="profile__main-top pb-80">
                                    <div class="row align-items-center">
                                       <div class="col-md-6">
                                          <div class="profile__main-inner d-flex flex-wrap align-items-center">
                                             <div class="profile__main-thumb">
                                                <img src="{{request.user.img.url}}" alt="">
                                                   <div class="profile__main-thumb-edit">
                                                      <input id="profile-thumb-input" class="img profile-img-popup" type="file" onchange="updateIMG();">
                                                      <label for="profile-thumb-input"><i class="fa-light fa-camera"></i></label>
                                                   </div>
                                             </div>
                                             <div class="profile__main-content">
                                                <h4 class="profile__main-title">Welcome {{request.user.fname}}!</h4>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="profile__main-logout text-sm-end">
                                             <a href="{% url 'LOGOUTUSER' %}" class="aakriticm-logout-btn">Logout</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="profile__main-info">
                                    <div class="row gx-3">
                                       <div class="card">
                                          <div class="card-header">
                                             <h4>{{request.user.fname}} {{request.user.lname}} </h4>
                                          </div>
                                          <div class="card-body">
                                             <ul>
                                                <li>Contact No: <b>{{request.user.email}}</b></li>
                                                <li>Email Id: <b>{{request.user.phone}}</b></li>
                                             </ul>
                                          </div>
                                       </div>
                                   
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                              <div class="profile__info">
                                 <h3 class="profile__info-title">Personal Details</h3>
                                 <div class="profile__info-content">
                                    
                                    <div class="row">
                                       <div class="col-xxl-12 col-md-12">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <input type="text" placeholder="Enter Email" value="{{request.user.email}}" readonly>
                                                <span>
                                                   <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M13 14.6H5C2.6 14.6 1 13.4 1 10.6V5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                      <path d="M13 5.3999L10.496 7.3999C9.672 8.0559 8.32 8.0559 7.496 7.3999L5 5.3999" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                   </svg>                                             
                                                </span>
                                             </div>
                                          </div>
                                       </div>

                                       <div class="col-xxl-6 col-md-6">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <input class="fname" type="text" placeholder="Enter your first name" value="{{request.user.fname}}">
                                                <span>
                                                   <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M9 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 9 1C6.79086 1 5 2.79086 5 5C5 7.20914 6.79086 9 9 9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                      <path d="M15.5 17.6C15.5 14.504 12.3626 12 8.5 12C4.63737 12 1.5 14.504 1.5 17.6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                   </svg>
                                                </span>
                                             </div>
                                          </div>
                                       </div>
                                       
                                       
                                       <div class="col-xxl-6 col-md-6">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <input class="lname" type="text" placeholder="Enter your last name" value="{{request.user.lname}}" >
                                                <span>
                                                   <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M9 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 9 1C6.79086 1 5 2.79086 5 5C5 7.20914 6.79086 9 9 9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                      <path d="M15.5 17.6C15.5 14.504 12.3626 12 8.5 12C4.63737 12 1.5 14.504 1.5 17.6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                   </svg>
                                                </span>
                                                
                                             </div>
                                          </div>
                                       </div>
                                       
                                       <!-- updateINFORMATION -->

                                       <div class="col-xxl-6 col-md-6">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <input class="contact" type="text" placeholder="Enter your contact number" value="{{request.user.phone}}">
                                                <span>
                                                   <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M13.9148 5V13C13.9148 16.2 13.1076 17 9.87892 17H5.03587C1.80717 17 1 16.2 1 13V5C1 1.8 1.80717 1 5.03587 1H9.87892C13.1076 1 13.9148 1.8 13.9148 5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                      <path opacity="0.4" d="M9.08026 3.80054H5.85156" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                      <path opacity="0.4" d="M7.45425 14.6795C8.14522 14.6795 8.70537 14.1243 8.70537 13.4395C8.70537 12.7546 8.14522 12.1995 7.45425 12.1995C6.76327 12.1995 6.20312 12.7546 6.20312 13.4395C6.20312 14.1243 6.76327 14.6795 7.45425 14.6795Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                   </svg>                                                                                        
                                                </span>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-xxl-6 col-md-6">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <select class="gender" name="gender">
                                                   {% if request.user.gender %}
                                                   <option value="{{request.user.gender}}">{{request.user.gender | title}}</option>
                                                   {% endif %}
                                                   <option value="Male">Male</option>
                                                   <option value="Female">Female</option>
                                                   <option value="Others">Others</option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- <div class="col-xxl-12">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <input type="text" placeholder="Enter your address" value="3304 Randall Drive">
                                                <span>
                                                   <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M7.99377 10.1461C9.39262 10.1461 10.5266 9.0283 10.5266 7.64946C10.5266 6.27061 9.39262 5.15283 7.99377 5.15283C6.59493 5.15283 5.46094 6.27061 5.46094 7.64946C5.46094 9.0283 6.59493 10.1461 7.99377 10.1461Z" stroke="currentColor" stroke-width="1.5"/>
                                                      <path d="M1.19707 6.1933C2.79633 -0.736432 13.2118 -0.72843 14.803 6.2013C15.7365 10.2663 13.1712 13.7072 10.9225 15.8357C9.29079 17.3881 6.70924 17.3881 5.06939 15.8357C2.8288 13.7072 0.263493 10.2583 1.19707 6.1933Z" stroke="currentColor" stroke-width="1.5"/>
                                                   </svg>
                                                </span>
                                             </div>
                                          </div>
                                       </div> -->

                                       <!-- <div class="col-xxl-12">
                                          <div class="profile__input-box">
                                             <div class="profile__input">
                                                <textarea placeholder="Enter your bio">Hi there, this is my bio...</textarea>
                                             </div>
                                          </div>
                                       </div> -->
                                       <div class="col-xxl-12">
                                          <div class="profile__btn">
                                             <button type="submit" class="aakriticm-btn" onclick="updateINFORMATION()">Update Profile</button>
                                          </div>
                                       </div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                              <div class="profile__password">
                                 {% if not request.user.password == 'new' %}
                                 <div class="row">
                                    <div class="col-xxl-12">
                                       <div class="aakriticm-profile-input-box">
                                          <div class="aakriticm-contact-input">
                                             <input class="old_password" name="old_pass" id="old_pass" type="password">
                                          </div>
                                          <div class="aakriticm-profile-input-title">
                                             <label for="old_pass">Old Password</label>
                                          </div>
                                       </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-xxl-6 col-md-6">
                                       <div class="aakriticm-profile-input-box">
                                          <div class="aakriticm-profile-input">
                                             <input class="password" name="new_pass" id="new_pass" type="password">
                                          </div>
                                          <div class="aakriticm-profile-input-title">
                                             <label for="new_pass">New Password</label>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                       <div class="aakriticm-profile-input-box">
                                          <div class="aakriticm-profile-input">
                                             <input class="repassword" name="con_new_pass" id="con_new_pass" type="password">
                                          </div>
                                          <div class="aakriticm-profile-input-title">
                                             <label for="con_new_pass">Confirm Password</label>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                       <div class="profile__btn">
                                          <button type="submit" class="aakriticm-btn" onclick="updatePASSWORD('{{request.user.password}}');">Update</button>
                                       </div>
                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                              <br>
                              <div class="profile__address">
                                 <div class="row">
                                       
                                    {% for address in allSHIPPINGS %}
                                    <div class="col-lg-6 pt-2">
                                       <label class="targetSHIPPING form-check-label" targetVAL="{{address.contact}}" for="{{address.contact}}" style="cursor:pointer;">
                                          <div class="card">
                                                <div class="card-header">
                                                   <a href="javascript:void(0);"><input class="selectSHIPPING form-check-input" selectSHIPPINGVAL="{{address.contact}}" type="radio" name="shipping" id="{{address.contact}}"> <b> &nbsp;  SELECT THIS ADDRESS</a></b>
                                                </div>
                                                <div class="card-body ">
                                                   <p><span>Name:</span> {{address.fname}} {{address.lname}}</p>
                                                   <p><span>Email Id:</span> {{address.email}}</p>
                                                   <p><span>Contact No:</span> {{address.contact}}</p>
                                                   <hr>
                                                   <p style="text-align: center;">{{address.house_no}} {{address.landmark}}, {{address.city}} {{address.code}}, {{address.state}}, [ {{address.country}} ]</p>
                                                </div>                                                             
                                          </div>
                                       </label>
                                    </div>
                                    {% endfor %}
                                    <div class="col-lg-6 pt-2">
                                       <div class="card">
                                          <div class="card-header">
                                                <h5>Create Shipping Address</h5>
                                          </div>
                                          <div class="card-body p-0" style="height: 200px;">
                                                <div class="row">
                                                   <div class="col text-center" style="margin-top: 70px;">
                                                      <button class="btn btn-primary " data-bs-toggle="modal"  data-bs-target="#ShippingAddress">Create New</button>
                                                   </div>
                                                </div>
                                          </div>       
                                          <div class="card-footer">
                                          
                                          </div>                                                      
                                       </div>
                                    </div>
                        


                                  
                                 </div>
                              </div>
                           </div>
                           
                           <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                              <div class="profile__notification">
                                 <div class="profile__notification-top mb-30">
                                    <h3 class="profile__notification-title">My activity settings</h3>
                                    <p>Stay up to date with notification on activity that involves you including mentions, messages, replies to your bids, new items, sale and administrative updates </p>
                                 </div>
                                 <div class="profile__notification-wrapper">
                                    <div class="profile__notification-item mb-20">
                                       <div class="form-check form-switch d-flex align-items-center">
                                          <input class="form-check-input" type="checkbox" role="switch" id="like" checked>
                                          <label class="form-check-label" for="like">Like & Follows Notifications</label>
                                       </div>
                                    </div>
                                    <div class="profile__notification-item mb-20">
                                       <div class="form-check form-switch d-flex align-items-center">
                                          <input class="form-check-input" type="checkbox" role="switch" id="post" checked>
                                          <label class="form-check-label" for="post">Post, Comments & Replies Notifications</label>
                                       </div>
                                    </div>
                                    <div class="profile__notification-item mb-20">
                                       <div class="form-check form-switch d-flex align-items-center">
                                          <input class="form-check-input" type="checkbox" role="switch" id="new" checked>
                                          <label class="form-check-label" for="new">New Product Notifications</label>
                                       </div>
                                    </div>
                                    <div class="profile__notification-item mb-20">
                                       <div class="form-check form-switch d-flex align-items-center">
                                          <input class="form-check-input" type="checkbox" role="switch" id="sale" checked>
                                          <label class="form-check-label" for="sale">Product on sale Notifications</label>
                                       </div>
                                    </div>
                                    <div class="profile__notification-item mb-20">
                                       <div class="form-check form-switch d-flex align-items-center">
                                          <input class="form-check-input" type="checkbox" role="switch" id="payment" checked>
                                          <label class="form-check-label" for="payment">Payment Notifications</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
     </section>
  

    


      </main>
    {% include "template/includes/MAINFooter.html" %}
       {% include 'template/addressJAVASCRIPT.html' %} 

    <!-- JS here -->
    <script src="{% static 'aakritimart/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'aakritimart/js/vendor/waypoints.js' %}"></script>
    <script src="{% static 'aakritimart/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'aakritimart/js/meanmenu.js' %}"></script>
    <script src="{% static 'aakritimart/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'aakritimart/js/slick.js' %}"></script>
    <script src="{% static 'aakritimart/js/range-slider.js' %}"></script>
    <script src="{% static 'aakritimart/js/magnific-popup.js' %}"></script>
    <script src="{% static 'aakritimart/js/nice-select.js' %}"></script>
    <script src="{% static 'aakritimart/js/purecounter.js' %}"></script>
    <script src="{% static 'aakritimart/js/countdown.js' %}"></script>
    <script src="{% static 'aakritimart/js/wow.js' %}"></script>
    <script src="{% static 'aakritimart/js/isotope-pkgd.js' %}"></script>
    <script src="{% static 'aakritimart/js/imagesloaded-pkgd.js' %}"></script>
    <script src="{% static 'aakritimart/js/ajax-form.js' %}"></script>
    <script src="{% static 'aakritimart/js/main.js' %}"></script>
    {% include "template/includes/JSCOMMON.html" %}


      <script>
         function updateIMG(){
            const img = $('.profile-img-popup')[0].files[0];
            const data = new FormData();
            data.append('img', $('.profile-img-popup')[0].files[0] );
            $.ajax({    
               type: "POST",                   
               url: "{% url 'updateIMG' %}",                    
               data: data,
               cache: false,
               processData: false,
               contentType: false,
               enctype: 'multipart/form-data',
               headers: {'X-CSRFToken': "{{ csrf_token }}"},
               success: function(data) {   
                  if (data.status == 1){
                     Toast.fire({
                           icon: 'success',
                           title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                     })    
                  setTimeout(function () {
                     window.location.href =data.AFTERTask;
                  }, 2000); 
                  
                  }else if (data.status == 0){
                     Toast.fire({
                     icon: 'error',
                     title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                     }) 
                  }       
               },
            });
         }
      </script>
      <script>
         function updateINFORMATION(){
            const fname = $('.fname').val();
            const lname = $('.lname').val();
            const contact = $('.contact').val();
            const gender = $('.gender').val();

            const data = new FormData();
            data.append('fname', fname );
            data.append('lname', lname );
            data.append('contact', contact );
            data.append('gender', gender );
            $.ajax({    
               type: "POST",                   
               url: "{% url 'updateINFORMATION' %}",                    
               data: data,
               cache: false,
               processData: false,
               contentType: false,
               enctype: 'multipart/form-data',
               headers: {'X-CSRFToken': "{{ csrf_token }}"},
               success: function(data) {   
                  if (data.status == 1){
                     Toast.fire({
                           icon: 'success',
                           title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                     })    
                  //setTimeout(function () {
                  //   window.location.href =data.AFTERTask;
                  //}, 2000); 

                  }else if (data.status == 0){
                     Toast.fire({
                     icon: 'error',
                     title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                     }) 
                  }       
               },
            });
         }
      </script>

      <script>
         function updatePASSWORD(e){
            var old_password = 'new' ;
            if (e !='new'){
               old_password = $('.old_password').val();
            }else{
               old_password = e;
            }
            
            const password = $('.password').val();
            const repassword = $('.repassword').val();
            if (password ==""){
               Toast.fire({
                  icon: 'error',
                  title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b> New Password Required</b></p>'
               }) 
            }
            else if (repassword ==""){
               Toast.fire({
                  icon: 'error',
                  title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b> Repassword Required</b></p>'
               }) 
            }
            else if (password == repassword){
               const data = new FormData();
               data.append('old_password', old_password );
               data.append('password', password );
               data.append('repassword', repassword );
               $.ajax({    

                  type: "POST",                   
                  url: "{% url 'updatePASSWORD' %}",                    
                  data: data,
                  cache: false,
                  processData: false,
                  contentType: false,
                  enctype: 'multipart/form-data',
                  headers: {'X-CSRFToken': "{{ csrf_token }}"},
                  success: function(data) {   
                     if (data.status == 1){
                        Toast.fire({
                              icon: 'success',
                              title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                        })    

                     //setTimeout(function () {
                     //   window.location.href =data.AFTERTask;
                     //}, 2000); 
                     
                     }else if (data.status == 0){
                        Toast.fire({
                           icon: 'error',
                           title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                        }) 
                     }       
                  },
               });            
            }else{
               Toast.fire({
                  icon: 'error',
                  title: '<p id="messages" style="margin-top: 0px !important; margin-left:8px !important;"><b> Password Not Mached</b></p>'
               }) 
            }
         }
      </script>

      <!-- SweetAlert2 -->
      <script src="{% static 'adminAAKRITICMS/plugins/sweetalert2/sweetalert2.min.js'%}"></script>
      <!-- <script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script> -->
      <!-- Toastr -->
      <script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script>
      {% include "template/includes/USERToster.html" %}
</body>
</html>
