<div class="modal fade rounded" id="AskQuestion" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog mx-auto" style="max-width:400px">
      <div class="modal-content">
         <div class="modal-header">
               <h4 class="modal-title text-secondary font-weight-600">Ask Question</h4>
               <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
         </div>
         <div class="modal-body p-0">
            <input type="text" class="ask_targetVAL" style="display: none;">
            <textarea name="quick_ask" class="quick_ask form-control shadow-none rounded-sm" style="height: 200px;" id="" cols="30" rows="15" placeholder="Ask Question.."></textarea>
         </div>
         <div class="model-footer p-3">
               <button class="btn btn-primary w-100 rounded-sm" onclick="QUICKASKQuestion();">Ask Question</button>
         </div>
      </div>
   </div>
</div>