<!DOCTYPE html>
<html lang="en">
  {% load static %}  

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update - {% if data %}  {{subCat.name}} {% endif %} | {{project.title | safe | title }} || {{project.name}} </title>
  <link rel="icon" type="image/png" href="{% if project.favicon %}{{project.favicon.url}}{% else %}{% static 'adminAAKRITICMS/img/default/mrdas.jpg' %}{% endif %}">

    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/daterangepicker/daterangepicker.css'%}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/icheck-bootstrap/icheck-bootstrap.min.css'%}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/select2/css/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css'%}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/fontawesome-free/css/all.min.css'%}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <!-- adminRKMTech Theme style -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/css/aakriticms.min.css'%}">
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/css/aakriti.ui.css'%}">
    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'adminAAKRITICMS/plugins/summernote/summernote-bs4.min.css' %}">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
  {% include 'includes/adminNavBar.html' %} <!--Add this-->
  {% include 'includes/adminSideBar.html' %} <!--Add this-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Update Blog</h1>

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Update Main Category</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header ">
                  <h3 class="card-title">{{subCat.name}}</h3>
                  <a href="{% url 'blogSubCategory' %}" class="btn btn-dark float-right" data-toggle="tooltip" data-placement="top" title="Hit For Back Previous Page"><i class="fas fa-step-backward"></i> Back</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data" id="FormData">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <!-- /.card-body -->
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="label">Main Category</label>
                            <select class="form-control select2" id="label" name="mainCat" value="{{subCat.cat_id}}" data-toggle="tooltip" data-placement="top" title="Sellect Main Category" autocomplete="off" required>
                                <option value="{{subCat.mainCat.pk}}" selected> Selected - {{subCat.mainCat.name}}</option>
                                {% if mainCat %}
                                  {% for maincat in mainCat %}
                                    <option value="{{maincat.id}}"> {{maincat.name}} </option>
                                  {% endfor %}
                                {% else %}
                                  <option>{{project.name}} has No Data</option>
                                {% endif %}
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="main-category">Sub Category Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                                </div>
                                <input type="text" name="name" class="form-control" id="input-field" onkeyup="NameStringCount()"  value="{{subCat.name}}" autocomplete="off" required>
                                <div class="input-group-prepend">
                                  <span class="input-group-text" for="input-field" id="NameStringCount"></span>
                                </div>
                            </div>
                        </div>
                      
                        <label for="exampleInputFile">Sellect Image </label>
                        <div class="card card-outline card-info">
                          <div class="card-body"> 
                            <div id="display_image" style="height:150px; width:100% !important; border-radius: 10px; border: 2px solid rgb(9, 135, 238); display: none; visibility: hidden; background-size:contain; background-repeat:no-repeat;"></div>
                            <img src="{% if subCat.img %} {{subCat.img.url}} {% else %} {% static 'adminAAKRITICMS/img/default/AakritiLiteWebDeveloper.jpg'%} {% endif %}" class="img_display img-thumbnail" alt="{{subCat.img}}" id="NoObject" style="height:150px; width:100% !important; border-radius: 10px; border: 2px solid rgb(9, 135, 238);" data-toggle="tooltip" data-placement="top" title="Sellect Main Category Thumbnail"/>
                          </div>
                          <div class="card-footer">
                              <span class="btn btn-primary col fileinput-button " data-toggle="tooltip" data-placement="top" title="Hit For Sellect Main Category Thumbnail">
                                  <input type="file" value="" accept="image/png, image/jpg , image/jpeg" name="img" multiple  id="image_input"  style="display: none;" class="img_input"/>
                                  <label for="image_input" style="cursor: pointer;" ><i class="fas fa-plus"></i><span>Add Thumbnail </span></label>
                              </span>
                          </div>
                        </div>
                        <div class="card-footer bg-primary">
                            <div class="col text-center">
                                <button type="submit" id="publisher" class="btn btn-light  ml-3" title="Hit For: Main Category Update" data-toggle="tooltip"><i class="fas fa-upload"></i>&nbsp;&nbsp; Update Now</button>
                            </div>
                        </div>
               
                    </div>

                    <!-- ------------------------------------------------------- -->
                  
                    <!-- end col-md-8 -->
                    <div class="col-md-4">
                        <!-- /.card-body -->
                    </div>
                    <!-- end col-md-8 -->
                </div>
                
              </div>
              <div class="card-footer bg-primary">

              </div> 
              <!-- /.card-body And Default Form-->
            </form>

            </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include 'includes/adminFooter.html' %} <!--Add this-->

</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="{% static 'adminAAKRITICMS/plugins/jquery/jquery.min.js'%}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminAAKRITICMS/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<!-- Select2 -->
<script src="{% static 'adminAAKRITICMS/plugins/select2/js/select2.full.min.js'%}"></script>
<!-- AakritiCMS JavaScript -->
<script src="{% static 'adminAAKRITICMS/js/aakritiCMS.min.js'%}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'adminAAKRITICMS/plugins/sweetalert2/sweetalert2.min.js'%}"></script>
<!-- Toastr -->
<script src="{% static 'adminAAKRITICMS/plugins/toastr/toastr.min.js'%}"></script>

<!-- Summernote -->
<script src="{% static 'adminAAKRITICMS/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'adminAAKRITICMS/plugins/aakritiCMS/js/additional-operations.js' %}"></script>
<script>

  $(function () {
    // Summernote
    $('#summernote').summernote()

  })

  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    //Date and time picker
  })
 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})



</script>
<!-- ==============END=============== -->
{% include 'includes/adminToster.html' %}
</body>
</html>
