{% load static %}


<div class="service-area">
    <div class="container">
        <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="{% static 'kahntailors/images/icons/service1.png' %}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                        <p>Tell about your service.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="{% static 'kahntailors/images/icons/service2.png' %}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Money Back Guarantee</h6>
                        <p>Within 10 days.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="{% static 'kahntailors/images/icons/service3.png' %}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">24 Hour Return Policy</h6>
                        <p>No question ask.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="{% static 'kahntailors/images/icons/service4.png' %}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Pro Quality Support</h6>
                        <p>24/7 Live support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<!-- Product Quick View Modal Start -->
<div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail product-large-thumbnail khantailor-product thumbnail-badge zoom-gallery">
                                        <div class="thumbnail">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-big-01.png' %}" alt="Product Images">
                                            <div class="label-block label-right">
                                                <div class="product-badget">20% OFF</div>
                                            </div>
                                            <div class="product-quick-view position-view">
                                                <a href="{% static 'kahntailors/images/product/khantailor-product-big-01.png' %}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-big-02.png' %}" alt="Product Images">
                                            <div class="label-block label-right">
                                                <div class="product-badget">20% OFF</div>
                                            </div>
                                            <div class="product-quick-view position-view">
                                                <a href="{% static 'kahntailors/images/product/khantailor-product-big-02.png' %}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-big-03.png' %}" alt="Product Images">
                                            <div class="label-block label-right">
                                                <div class="product-badget">20% OFF</div>
                                            </div>
                                            <div class="product-quick-view position-view">
                                                <a href="{% static 'kahntailors/images/product/khantailor-product-big-03.png' %}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb small-thumb-wrapper">
                                        <div class="small-thumb-img">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-thumb/thumb-08.png' %}" alt="thumb image">
                                        </div>
                                        <div class="small-thumb-img">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-thumb/thumb-07.png' %}" alt="thumb image">
                                        </div>
                                        <div class="small-thumb-img">
                                            <img src="{% static 'kahntailors/images/product/khantailor-product-thumb/thumb-09.png' %}" alt="thumb image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <img src="{% static 'kahntailors/images/icons/rate.png' %}" alt="Rate Images">
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>1</span> customer reviews)</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title">Serif Coffee Table</h3>
                                    <span class="price-amount">$155.00 - $255.00</span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>In stock</li>
                                        <li><i class="fal fa-check"></i>Free delivery available</li>
                                        <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                    </ul>
                                    <p class="description">In ornare lorem ut est dapibus, ut tincidunt nisi pretium. Integer ante est, elementum eget magna. Pellentesque sagittis dictum libero, eu dignissim tellus.</p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
                                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Product Variation  -->

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
                                            <h6 class="title">Size:</h6>
                                            <ul class="range-variant">
                                                <li>xs</li>
                                                <li>s</li>
                                                <li>m</li>
                                                <li>l</li>
                                                <li>xl</li>
                                            </ul>
                                        </div>
                                        <!-- End Product Variation  -->

                                    </div>

                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                        <!-- End Quentity Action  -->

                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a href="" class="khantailor-btn btn-bg-primary">Add to Cart</a></li>
                                            <li class="wishlist"><a href="" class="khantailor-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
<!-- Product Quick View Modal End -->
{% comment %} ============================================================= {% endcomment %}
{% comment %} ============================================================= {% endcomment %}
{% comment %} ============================================================= {% endcomment %}
{% comment %} ============================================================= {% endcomment %}
{% comment %} ============================================================= {% endcomment %}
{% comment %} ============================================================= {% endcomment %}
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <div class="card-header">
            <div class="input-group">
                <input type="search" class="query form-control" onkeyup="SearchQuery();" id="prod-search" placeholder="Search Product From {{project.name}}.">
                <button type="submit"  class="khantailor-btn btn-bg-primary"><i class="far fa-search"></i></button>
            </div>
        </div>
        <section class="SearchFoundedResult">
        </section>
    </div>
</div>
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<!-- Header Search Modal End -->
<div class="cart-dropdown" id="cart-dropdown">
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">Cart review</h2>
            <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        {% if mycartlist != '404' %}

        <div class="cart-body">
            <ul class="cart-item-list">
                {% for cart in mycartlist %}
                <li class="cart-item" thisproduct="{{cart.product.pk}}">
                    <div class="item-img">
                        <a href="{% url 'VIEWProduct' cart.product.slug %}"><img src="{% if cart.product.img %}{{cart.product.img.url}}{% else %}{% static 'kahntailors/images/product/electric/product-01.png' %}{% endif %}" alt="{{product.product.name}}"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content" thisproduct="Ramesh">
                        <div class="product-rating">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>64
                            <span class="rating-number">(10)</span>
                        </div>
                        <h3 class="item-title"><a href="{% url 'VIEWProduct' cart.product.slug %}">{{cart.product.name}}</a></h3>
                        <div class="item-price"><span class="currency-symbol"> <i class="fas fa-rupee-sign"></i> </span>{{cart.product.sp}}</div>
                        <!-- <div class="pro-qty item-quantity" onclick="saveToCartwithQTY();" thisproduct="{{cart.product.pk}}">
                            <input type="number" id="QTY" class="QTY quantity-input" value="{% if cart.qty %}{{cart.qty}}{% else %}1{% endif %}" onchange="saveToCartwithQTY();" thisproduct="{{cart.product.pk}}">
                        </div> -->
                    </div>
                </li>
                {% endfor  %}
            </ul>
        </div>
        <div class="cart-footer">
            <!-- <h3 class="cart-subtotal">
                <span class="subtotal-title">Subtotal:</span>
                <span class="subtotal-amount"></span>
            </h3> -->
            <div class="group-btn">
                <a href="" class="khantailor-btn btn-bg-primary viewcart-btn">View Cart</a>
                <!-- <a href="{% url 'CheckOutHere' %}?checkoutFor=myCartList&paymethod=online" class="khantailor-btn btn-bg-secondary checkout-btn">Checkout</a> -->
            </div>
        </div>
        {% else %}
        <div class="cart-footer">            
            <div class="group-btn">
                <a href="" class="khantailor-btn btn-bg-primary viewcart-btn">Already User Login?</a>
                <a href="?checkoutFor=myCartList&paymethod=online" class="khantailor-btn btn-bg-secondary checkout-btn">Create New Account</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include 'templates/includes/mainFooter.html' %}

<script>
    function SearchQuery(){
        const data = new FormData();
        data.append('query', $('.query').val());
        $.ajax({                      
            type: "POST",                   
            url: "{% url 'SEARCHPRODUCTAJAXService' %}",                    
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function(data) {   
                $('.SearchFoundedResult').html(data);  
            },
        });
  }
  </script>
  


 


