{% load static %}
<div class="modal fade" id="UploadProduct">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><b>Create Product</b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Main Category</label>
                <select class="mainCat form-control select2" style="width: 100%;" name="mainCat" id="mainCat" required>
                    <option value="selected">Main Category</option>
                    
                    {% for mainCat in mainCatList %}
                    <option value="{{mainCat.pk}}">{{mainCat.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group SubCategoryList" style="display:none">
                <label>Sub Category</label>
                <select class="subCat form-control select2" style="width: 100%;" name="subCat" id="SubCatList" required>
                </select>
            </div>
            {% comment %}
            <div class="form-group SubSubCategoryList" style="display:none">
                <label>Sub SubCategory</label>
                <select class="SubSubCat form-control select2" style="width: 100%;" name="SubSubCat" id="SubSubCatList" required>
                </select>
            </div>
            {% endcomment %}
            <div class="form-group">
                <label for="main-category">Product Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                    </div>
                    <input type="text" class="pName form-control" id="input-field" placeholder="Create Product" name="name">
                    <div class="input-group-prepend">
                      <span class="input-group-text" for="input-field" id="NameStringCount"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            
            <button type="button" id="CreateProduct" onclick="addPRODUCT()" class="CreateProduct btn btn-primary">Create New Product</button>
        </div>
        </div>
    </div>
</div>
<script>
// NameStringCount
document.getElementById("NameStringCount").innerHTML = 65;
function NameStringCount() {
    var x = document.getElementById("input-field").value;
    let length = x.length;
    let max = 60;
    let current = max-length;
    if ((current<151) & (current>-1)){
        document.getElementById("NameStringCount").innerHTML = current;
        document.getElementById("NameStringCount").style.color = '';
        document.getElementById("publisher").style.display='';
        document.getElementById("publisher").style.visibility='';
    }else{
        // .style.color
        document.getElementById("NameStringCount").style.color = '#d00';
        document.getElementById("NameStringCount").innerHTML = current;
        document.getElementById("publisher").style.display='none';
        document.getElementById("publisher").style.visibility='hidden';
    }
}
</script>

<script>
$(".mainCat").on('change', function() {
  $.ajax({                     
      type: "POST",                   
      url: "{% url 'LoadSubCatList' %}",                  
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        'mainCat':  this.value      
      },
      success: function (data) {  
        $('.SubCategoryList').show() 
          $("#SubCatList").html(data);
      }
  });
});
$(".subCat").on('change', function() {
    $.ajax({                     
        type: "POST",                   
        url: "{% url 'LoadSubSubCatList' %}",                  
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          'subCat':  this.value      
        },
        success: function (data) {   
            $('.SubSubCategoryList').show() 
            $("#SubSubCatList").html(data);

        }
    });
  });
</script>

<script>



function addPRODUCT(){
    const name = $(".pName").val()
    const mainCat = $(".mainCat").val()
    const subCat = $(".subCat").val()

    const SubSubCat = $(".SubSubCat").val()
    if (name == ""){
        Toast.fire({
            icon: 'error',
            title: '<p id="messages" style="margin-top:12px !important; margin-left:8px !important;"><b> Name is Empty </b></p>'
            }) 
    }
    else if (SubSubCat == ""){
        Toast.fire({
            icon: 'error',
            title: '<p id="messages" style="margin-top:12px !important; margin-left:8px !important;"><b>subCat is Empty</b></p>'
            }) 
    }else{
        $.ajax({                      
            type: "POST",                   
            url: "{% url 'AddProduct' %}",                    
            data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            'name': name,
            'mainCat':mainCat,       
            'subCat':subCat,       
            'SubSubCat':SubSubCat,       
            },
            success: function(data) {   
                if (data.status == 1){
                    $('#UploadProduct').modal('hide');
                    $(".pName").val('')
                    $(".mainCat").val('')
                    $(".subCat").val('')
                    $(".SubSubCat").val('')
                    Toast.fire({
                        icon: 'success',
                        title: '<p id="messages" style="margin-top: 12px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                    }) 

                setTimeout(function () {
                    window.location.href =data.AFTERTask;
                }, 2000); 

            }
                else if (data.status == 0){
                    Toast.fire({
                    icon: 'error',
                    title: '<p id="messages" style="margin-top: 12px !important; margin-left:8px !important;"><b>'+ data.message +'</b></p>'
                    }) 
                }       
            },

        });
    }
}

const elem = document.getElementById("input-field");
elem.addEventListener("keypress", (event)=> {
    if (event.keyCode === 13) { 
      event.preventDefault();
     addPRODUCT();
    }
  });
</script>


